@import "~react-image-gallery/styles/scss/image-gallery.scss";

.card{
  background-color:  #E5E5E5;
  .header{
    width: 100%;
    height: 4vw;
  }
  .AdCard{
    .images{
      width: 40vw;
      .buttons{
        display: flex;
        justify-content: space-between;
      }
    }
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    .animal_name{
      font-family: "AllianceNo1-Bold";
      font-size: 2vw;
      font-weight: 500;
    }
    .animal-info{
      
      width: 40vw;
      margin-left: 3vw;
    }
    .animal_price{
      font-size: 1.3vw;
      font-weight: 800;
      color: #E3BD59;
      
    }
    .bottom-info{
      
      font-size: 1.3vw;
      margin-top: 3vw;
      p{
        margin-bottom: 0.4vw;
        strong{
          font-family: "AllianceNo1-Bold";
        }
      }
    }
    .animal-info-list{
      font-size: 1.4vw;
      display: flex;
      justify-content: space-between;
      padding-right: 10vw;
      .info__var{
        margin-right: 3vw;
      }
    }
    .account-info{
      
      font-size: 1vw;
      .user-card{
        
        width: 17vw;
        height: auto;
        background-color:#FFFFFF; 
        .user-photo{
          width: 2.5vw;
          height: 2.5vw;
          border-radius: 10vw;
          margin-left: 1vw;
          margin-top: 0.3vw;
        }

        .user-label{
          font-family: "AllianceNo1-Bold";
          padding-left: 1vw;
          padding-top: 1vw;

        }

      }
    }
  }  
  
}

.list-elem{
  margin-top: .5vw;
  font-family: "AllianceNo1-Medium";
  strong{
    font-family: "AllianceNo1-Bold";
  }
}

.modal__content{ 
  z-index: 10; 
} 
.image-gallery-icon{ 
  z-index: 0; 
}

.image-gallery-svg{ 
  z-index: 0; 
}
.user-flex__left{
  display: flex;
  .user-name{
    font-size: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 0.3vw;
  }
  .user-name-low{
    font-size: 0.6vw;
  }
}
.allAds{
  padding-top: 0.3vw;
  padding-left: 1vw;
  font-size: 0.8vw;
  text-decoration:underline;
}

@keyframes gradient {
	0% {
	 background-position: 0% 50%;
	}
 
	50% {
	 background-position: 100% 50%;
	}
 
	100% {
	 background-position: 0% 50%;
	}
 }

.Show-phone-buy{
  color: black;
  padding: 0.5vw 1vw;
  background: transparent;
  border-style: solid;
  border-color: #ffe032;
  border-radius: 0.2vw;
  font-size: 0.9vw;
  font-weight: 700;
  transition: all .5s ease-in-out;
  
  transform: scale(1);
}


.Show-phone-buy:active {
transform: scale(0.9);
}


.botton-buy{
  background: linear-gradient(-45deg, #ffe032, #fed669, #fed669, #ffe032);
  background-size: 800% 400%;
  padding: 0.6vw 2.8vw;
  display: inline-block;
  border: none;
  border-radius: 0.2vw;
  font-size: 0.9vw;
  font-weight: 700;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  transform: scale(1);
}

.botton-buy:hover {
animation: gradient 3s infinite;
transform: scale(1);
}

.botton-buy:active {
animation: gradient 3s infinite;
transform: scale(1);
}

@keyframes gradient {
	0% {
	 background-position: 0% 50%;
	}
 
	50% {
	 background-position: 100% 50%;
	}
 
	100% {
	 background-position: 0% 50%;
	}
 }

 .adCard-info-bottons{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vw;
  padding-bottom: 1vw;
  button + button{
    margin-left: 0.4vw;
  }
 }

.p-buttons{
  margin-left: 1vw;
  position: relative;
  svg{
    top: -0.1vw;
    left: -1.5vw;
    position: absolute;
    padding-top: 0vw;
  }
}

.AdCard-similar{
  H1{
    font-family: "AllianceNo1-Bold";
  }
  margin-top: 1vw;
  padding-top: 0.5vw;
  display: flex;
  justify-content: center;
}